# Web Framework
Flask==2.3.3
Flask-Cors==4.0.0
Werkzeug==2.3.8
gunicorn==23.0.0

# Computer Vision
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.4.0

# Machine Learning
torch==2.4.1
torchvision==0.19.1
ultralytics==8.3.0

# Data Processing
pandas==2.2.2

# Database
SQLAlchemy==2.0.36

# Environment Variables
python-dotenv==1.0.1

# PDF Generation
reportlab==4.2.2
